<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MessageSendingAppender" class="org.lightadmin.logging.configurer.logback.MessageSendingAppender"/>

    <logger name="org.lightadmin.core" level="info"/>
    <logger name="org.lightadmin.demo" level="info"/>

    <logger name="org.springframework" level="warn"/>

    <logger name="org.hibernate" level="warn"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="WARN">
        <appender-ref ref="console"/>
        <appender-ref ref="MessageSendingAppender"/>
    </root>

</configuration>